@charset "UTF-8";

section{
    display: flex;
}
article{
    width: 78%;
    float: left;
}
article p{
    margin: 25px;
}
aside{
    width: 20%;
    float: right;
}
aside img{
    border-radius: 10px;
    width: 100%;
}